body {
  background-color: #edf8f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.columnContainer{
	display: flex;
}

.bookResults{
	align-self: flex-start;
	flex: 2;
}

.recommendations{
	align-self: flex-start;
	flex: 1;
	margin: 10px;
	padding: 10px;
}

.bookEntry{
	flex: 1;
}

.description{
	margin-left: 20%;
	margin-right: 20%;
}

div{
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 7px;
}

input{
	margin: 3px;
	outline: none;
	border-radius: 7px;
	border-width: 3px;
	border-color: #a3e4d7;
	padding: 10px;
	background-color: #e8f8f5;
	border-style: solid;
}

input[type=button]:hover{
	cursor: pointer;
}

input[type=submit]{
	font-size: 20px;
	font-weight: bold;
	border-color: #1abc9c;
}

input[type=submit]:hover{
	cursor: pointer;
}

@keyframes textBoxSelected{
	from { border-color: #a3e4d7; }
	to { border-color: #148f77; }
}

.textBoxSelected{
	border-color: #a3e4d7;
	border-color: #148f77;
	animation: textBoxSelected 0.3s;
}

@keyframes textBoxDeselected{
	from { border-color: #148f77; }
	to { border-color: #a3e4d7; }
}

.textBoxDeselected{
	animation: textBoxDeselected 0.3s;
}

@keyframes buttonOn{
	from { color: black; border-color: #a3e4d7; background-color: #e8f8f5; }
	to { color: white; border-color: #148f77; background-color: #0e6655; }
}

.buttonOn{
	border-color: #148f77;
	background-color: #0e6655;
	color: white;
	animation: buttonOn 0.3s;
}


@keyframes buttonOff {
	from { color: white; border-color: #148f77; background-color: #0e6655; }
	to { color: black; border-color: #a3e4d7; background-color: #e8f8f5; }
}

.buttonOff{
	animation: buttonOff 0.3s;
}
