body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
	border-radius: 7px;
	border-width: 3px;
	border-color: #d1f2eb;
	padding: 10px;
	background-color: #e8f8f5;
	border-style: solid;
}

input[type=button]:hover{
	cursor: pointer;
}

@keyframes buttonTurnOn{
	from { color: black; border-color: #d1f2eb; background-color: #e8f8f5; }
	to { color: white; border-color: #148f77; background-color: #0e6655; }
}

.buttonDefault{

}

.buttonOn{
	border-color: #148f77;
	background-color: #0e6655;
	color: white;
	animation: buttonTurnOn 0.3s;
}


@keyframes buttonTurnOff {
	from { color: white; border-color: #148f77; background-color: #0e6655; }
	to { color: black; border-color: #d1f2eb; background-color: #e8f8f5; }
}

.buttonOff{
	animation: buttonTurnOff 0.3s;
}
